@{
    ViewData["Title"] = "Giris";
    
}
<div class="container-xxl py-5 bg-dark hero-header d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="container my-5 py-5 d-flex justify-content-center align-items-center">
        <form class="p-4 rounded shadow text-center" style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); width: 500px;" action="/anasayfa" method="GET">
            <h2 class="text-white mb-4">Giriş Yap</h2>
            <div class="mb-3">
                <label for="email" class="form-label text-white">E-posta</label>
                <input type="email" class="form-control" id="email" style="height: 50px; font-size: 1.2rem;" placeholder="E-posta adresinizi girin" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label text-white">Şifre</label>
                <input type="password" class="form-control" id="password" style="height: 50px; font-size: 1.2rem;" placeholder="Şifrenizi girin" required>
            </div>
            <button type="submit" class="btn btn-primary py-2 px-4 w-100">Giriş Yap</button>
        </form>
    </div>
</div>



