<!DOCTYPE html>
<html lang="tr">

 @{await Html.RenderPartialAsync("_Head");}

 <body>
    <div class="container-xxl bg-white p-0">
     
     


      <!-- dinamik hale getiriyor -->@RenderBody(); 


     @{await Html.RenderPartialAsync("_Footer");}
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
       @{await Html.RenderPartialAsync("_Script");}
 </body>

</html>
